@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

.iss-helper {
    z-index: 99 !important;
}

.modal {
    z-index: 99999999 !important;
}

.modal-content {
    background-color: #2a2b2c !important;
    color: white;
}

.modal-body {
    height: 70vh;
    max-height: 70vh;
    overflow: auto;
}

.modal-body select {
    border-radius: 2px !important;
    margin-bottom: 15px;
}

.modal button.close-btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: white !important;
}

.modal button.close-btn i {
    font-size: 25px;
}

.modal-header,
.modal-footer {
    border-bottom-color: #575757 !important;
    border-top-color: #575757 !important;
}

.modal-footer button {
    background-color: white;
    color: black !important;
}

.modal-footer button:hover,
.modal-footer button:focus {
    background-color: rgb(240, 240, 240) !important;
}

.conjunctions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.conjunctions-wrapper .conjunction {
    padding: 10px;
    width: 97.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 5px 10px #181818;
    border: 1px solid #575757;
    margin: 0 0 10px 0;
}

.conjunctions-wrapper .conjunction .image-wrapper {
    display: flex;
    flex-direction: row;
}

.conjunctions-wrapper .conjunction img {
    width: 180px;
    height: 140px;
    margin-right: 10px;
}

.conjunctions-wrapper .conjunction div {
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}

.conjunctions-wrapper .conjunction div *:not(p) {
    letter-spacing: -0.5px;
    word-spacing: -2px;
}

.conjunctions-wrapper .conjunction div *:not(p,
a:nth-child(2)) {
    margin-left: 5px;
}

.conjunctions-wrapper .conjunction div p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.conjunctions-wrapper .conjunction span a:first-child {
    color: rgb(0, 217, 0);
    font-weight: 500;
}

.conjunctions-wrapper .conjunction span a:last-child {
    color: #f0f8ff;
}


/* -----------------------------------
 */

.modal-content iframe {
    width: 465px !important;
}